{$STAGING_DOMAIN} {
  encode zstd gzip
  request_body {
    max_size 12MB
  }
  reverse_proxy app:3000 {
    header_up Host {host}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-For {remote_host}
  }
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    -Server
  }
  log {
    output stdout
    format json
  }
}
